{% extends "portfolio/base.html" %} {% load static %} {% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="https://xp.io/storage/2y5lXj5x.jpg" class="img-fluid" />
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-9 text-center">
    <h1 id="hometext" class="font-weight-bold">
     <a href=""> Gaurav Shankar Kumar </a>is Certified in Full Stack Web development with Django - React Stack.
      Knowledge of SCM with programmatic experience. Strong analytical and problem-solving skills with experience on projects.
      Focused on building scalable applications with best Industrial practices.😊
    </h1>
  </div>
</div>
</div>

{% endblock %}
