{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'portfolio/components/head.html' %}
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    {% comment %} <a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600"><i class="ti-shift-left-alt"></i> Components</a> {% endcomment %}
    
    {% include 'portfolio/components/header.html' %}
    {% include 'portfolio/components/nav.html' %}
    {% include 'portfolio/components/home.html' %}
    {% include 'portfolio/section/resume.html' %}
    {% comment %} {% include 'portfolio/section/center1.html' %} {% endcomment %}
    {% comment %} {% include 'portfolio/section/my_service.html' %} {% endcomment %}
    {% comment %} {% include 'portfolio/section/pack_pricing.html' %} {% endcomment %}
    {% comment %} {% include 'portfolio/section/center2.html' %} {% endcomment %}
    {% include 'portfolio/section/portfolio.html' %}
    {% include 'portfolio/section/blog_news.html' %}
    {% include 'portfolio/components/contact_us.html' %}
    {% include 'portfolio/components/footer.html' %}
	{% include 'portfolio/components/scripts.html' %}
    {% if messages %}
    {% for message in messages %}
    <script>
        alert ("{{message}}");
    </script>
    <script>
        $(document).ready(function() {
          // Get the image element
          var img = $('img');
          
          // Get the original src attribute value
          var originalSrc = img.attr('src');
          
          // Replace /media/ with /static/ in the src attribute value
          var newSrc = originalSrc.replace('/media/', '/static/');
          
          // Update the src attribute with the new value
          img.attr('src', newSrc);
        });
        </script>
    {% endfor %}
    {% endif %}

</body>
</html>
