{% load static %}

<header class="header">
    <div class="container">
        <ul class="social-icons pt-3">
            <li class="social-item"><a class="social-link text-light" href="https://www.facebook.com/gauravshankarkumar"><i class="ti-facebook" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link text-light" href="https://twitter.com/gauravshankarkr"><i class="ti-twitter" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link text-light" href="https://www.linkedin.com/in/gauravshankarkumar/"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link text-light" href="https://www.instagram.com/gauravshankarkumar/"><i class="ti-instagram" aria-hidden="true"></i></a></li>
            <li class="social-item"><a class="social-link text-light" href="https://github.com/gauravshankarkumar"><i class="ti-github" aria-hidden="true"></i></a></li>
        </ul>  
        <div class="header-content">
            <h4 class="header-subtitle" >Hello, I am</h4>
            <h1 class="header-title" style="font-size: 60px;">Gaurav Shankar Kumar</h1>
            <h6 class="header-mono" >Back end Developer | Web Developer</h6>
            <button class="btn btn-primary btn-rounded"><i class="ti-printer pr-2"></i>Print Resume</button>
        </div>
    </div>
</header>