{% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Gaurav Shankar Kumar.">
    <meta name="author" content="gsk">
    <link rel="icon" type="image/png" href="{% static 'portfolio/gsk_logo.jpeg' %}" />
    <title>Gaurav Shankar Kumar</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'portfolio/assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + JohnDoe main styles -->
	<link rel="stylesheet" href="{% static 'portfolio/assets/css/johndoe.css' %}">
