{% load static %}

<div class="container-fluid">
    <div id="about" class="row about-section">
        <div class="col-lg-4 about-card">
            <h3 class="font-weight-light">Who am I ?</h3>
            <span class="line mb-5"></span>
            <h5 class="mb-3">A Web Developer, Who Turn Your Thoughts Into A Website.</h5>
            <p class="mt-20">Certified Python Developer offering 1+ years of extensive experience and exceptional analytical and critical thinking skills. Delivers a proactive approach, great work ethic, and the ability to function well in fast-paced/deadline-driven team environments. Skilled in Python coding and scripting, Django framework, and communication.</p>
            <button class="btn btn-outline-danger"><i class="icon-down-circled2 "></i>Download My CV</button>
        </div>
        <div class="col-lg-4 about-card">
            <h3 class="font-weight-light">Personal Info</h3>
            <span class="line mb-5"></span>
            <ul class="mt40 info list-unstyled">
                {% comment %} <li><span>Birthdate</span> : 09/13/1993</li> {% endcomment %}
                <li><span>Email</span> : gauravshankarkumar@gmail.com</li>
                <li><span>Phone</span> : + (91) 9421652506</li>
                <li><span>WhatsApp</span> : +919421652506 </li>
                <li><span>Address</span> :  Sonbarsa, Bihar, India.</li>
            </ul>
            <ul class="social-icons pt-3">
                <li class="social-item"><a class="social-link" href="https://www.facebook.com/gauravshankarkumar"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link" href="https://twitter.com/gauravshankarkr"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link" href="https://www.linkedin.com/in/gauravshankarkumar/"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link" href="https://www.instagram.com/gauravshankarkumar/"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link" href="https://github.com/gauravshankarkumar"><i class="ti-github" aria-hidden="true"></i></a></li>
            </ul>  
        </div>
        <div class="col-lg-4 about-card">
            <h3 class="font-weight-light">My Expertise</h3>
            <span class="line mb-5"></span>
            <div class="row">
                <div class="col-1 text-danger pt-1"><i class="ti-server icon-lg"></i></div>
                <div class="col-10 ml-auto mr-3">
                    <h6>Back end Development</h6>
                    <p class="subtitle">Writing scalable RESTfull APIs for multiple clients to communicate with a server, using Python programming language.</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-1 text-danger pt-1"><i class="ti-desktop icon-lg"></i></div>
                <div class="col-10 ml-auto mr-3">
                    <h6>Web Development</h6>
                    <p class="subtitle">
                        Creating website layout/user interfaces by using standard HTML/CSS and JavaScript,
                        Integrating data from back-end services and databases</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-1 text-danger pt-1"><i class="ti-stats-up icon-lg"></i></div>
                <div class="col-10 ml-auto mr-3">
                    <h6>Web Scraping</h6>
                    <p class="subtitle">Parse website data using string methods, regular expressions, HTML parser, forms and other website components</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>